@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,500;1,600&display=swap");
* {
  font-family: "Times New Roman", Times, serif;
}
html {
  scroll-behavior: smooth;
}
.section-search {
  margin-top: 820px;
  text-align: center;
}
.section-search h3 {
  text-decoration: underline;
  color: aquamarine;
}
.booking:hover {
  background-color: bisque;
  color: rgb(6, 102, 70);
}
.card:hover {
  color: rgb(246, 63, 57);
}
.package {
  background-color: rgba(195, 195, 238, 0.849);
}
.package:hover {
  text-align: center;
  color: rgb(228, 33, 15);
  background-color: rgba(0, 255, 255, 0.513);
}
.section-search input {
  padding: 5px;
  font-size: 18px;
  width: 90% !important;
  border: #f4f4f4 3px solid !important;
}

.section-follow .fa-4x {
  margin: 5px 10px;
}

/* Slides Section */
.slides {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.slide_1 {
  /* background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/recipe_slides/recipe1.jpg); */
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 60px;
  min-width: 60px;
  height: 300px;
  border-radius: 40px;
  margin: 0 15px;
  position: relative;
  transition: all 0.5s ease;
}
.slide_1:hover {
  min-width: 250px;
}
.slide_1:hover .slide-info {
  transform: rotate(0deg);
  font-size: 22px;
  left: 20px;
  bottom: 20px;
}
.slide-info {
  position: absolute;
  bottom: 50px;
  right: 0;
  color: #fff;
  transform: rotate(-90deg);
  font-size: 13px;
  font-weight: 700;
  transition: all 0.5s ease;
}

.slide_2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(img/recipe1.jpg);
}
.slide_3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(img/recipe2.jpg);
}
.slide_4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(img/recipe3.jpg);
}
.slide_5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(img/recipe4.jpg);
}
.slide_6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(img/recipe5.jpg);
}
.slide_7 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(img/recipe6.jpg);
}
.slide_8 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(img/recipe7.jpg);
}
/* Welcome-text section */
section#welcome-text h2 {
  color: #343a40;
  font-size: 45px;
  padding-bottom: 12px;
}
section#welcome-text {
  text-align: center;
  padding: 100px 0px;
}
section#welcome-text p {
  color: rgb(8, 98, 216);
  text-align: center;
  font-size: 16px;
}

/* media queries */
@media screen and (max-width: 768px) {
  div#toggle-btn {
    color: #fff;
    display: block;
    z-index: 1;
  }
  section#welcome-text h2 {
    font-size: 26px;
  }
  section#welcome-text p {
    font-size: 14px;
    line-height: 25px;
  }
  section#welcome-text {
    padding: 40px 0px;
  }
  .slides {
    flex-direction: column;
  }
  .slide_1 {
    width: 90%;
    min-width: 90%;
    height: 240px;
    margin: 20px 15px;
  }
}
